<?xml version="1.0" encoding="UTF-8"?>
<!-- 头信息 -->
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
            <typeAlias type="com.gechuang.mybatis.domain.User" alias="user"/>
    </typeAliases>
	<!-- mybatis的环境配置 一个环境里面可以配置多个数据库实例 -->
	<environments default="default">
		<!-- 属性配置 -->
		<environment id="default">
			<!-- 事务管理 -->
			<transactionManager type="JDBC">

			</transactionManager>
			<!-- 数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
				<property name="username" value="root"/>
				<property name="password" value="root"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
	    <mapper resource="com/gechuang/mybatis/domain/UserMapper.xml"/>
	</mappers>
</configuration>